@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

.App {
  text-align: center;
}


body {
  background: #222222;
  color: white;
  font-family: Assistant;
}

#okta-sign-in.auth-container.main-container[data-se=auth-container] {
  border-color: #000000;
  background: #444444;
}

#okta-sign-in .o-form .o-form-input #okta-signin-username {
  background: white;
  color: black;
}

#okta-sign-in .o-form-input-name-username {
  border: 0 !important;
  color: #dddddd;
}

#okta-sign-in .o-form .o-form-input #okta-signin-password {
  background: white;
  color: black;
}

#okta-sign-in .o-form-input-name-password {
  border: 0 !important;
  color: #dddddd;
}

#okta-sign-in.auth-container .o-form-head {
  color: #dddddd;
}

#okta-sign-in.auth-container .button-primary {
  border:none;
}

#okta-sign-in.auth-container.main-container .auth-footer {
  color: #dddddd !important;
}

#okta-sign-in.auth-container.main-container .auth-header {
  border-color: #111;
}

#okta-sign-in .o-form .custom-checkbox label {
  color: #ddd;
}

#okta-sign-in .custom-checkbox input {
  background: #111;
}

.auth-org-logo {
  max-height: 90px !important;
}

.registration-link {
  color: #ffa142 !important;
}